<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RegistrosWebAssembly</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroVehiculo">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de Vehiculo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroModelo">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de Prioridades
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroAccesorio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registro de Tickets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaVehiculo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta de Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaModelo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta de Prioridades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaAccesorio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta de Tickets
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
